/*==== Basico ====*/
body{
	padding: 0;
	width: 100%;
	min-height: 100%;
	height: 100%;
	max-height: auto;
	margin: 0;
	font-family: "Helvetica";
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	background: linear-gradient(var(--gradient1_color2) 1px, rgba(162,219,149,0.8) 200px, var(--gradient1_color2) 400px);
	background-color: var(--gradient1_color2);
	background-repeat: no-repeat;
	background-size: var(--backgroundsize);
	-webkit-touch-callout: none;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a{
	text-decoration: none;
}

*{
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

input:focus::-webkit-contacts-auto-fill-button{
	visibility: hidden;

}

input[autocomplete="off"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    visibility: hidden;
}
/*== Basico ==*/

/*==== Titulo ====*/
#titulo{
	position: relative;
	width: 300px;
	margin: 20px auto 5px;
}

#titulo img, #titulo.imagen{
	width: 200px;
	height: 85px;
}
/*== Titulo ==*/

/*==== Menu ====*/
#menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 440px;
	min-height: 45px;
	max-height: 45px;
	margin: 0 auto;
	line-height: 24px;

}

#menu a{
	border-bottom: rgba(0,0,0,0) solid 2px;
	flex-grow: 1;
	box-sizing: border-box;
	padding: 0 3px;
	min-height: 45px;
	max-height: 45px;
	margin: 0 2px;
}

#menu a.seleccionado,#menu a:hover{
	border-bottom: var(--textcolor1) solid 2px;
}
/*== Menu ==*/

/*==== Estructura ====*/
#estructura{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 10px auto;
}

#estructura{
	max-width: 920px;}

#estructura_slider{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

#cuerpo{
	overflow: hidden;
	box-sizing: border-box;
	background-color: var(--cuerpocolor);
	position: relative;
	box-shadow: var(--cuerposhadow);
	border-radius: 5px;
	margin: 10px;
	padding: 10px 20px;
	float: left;
	width: 440px;
}

#cuerpo.cuerpo_fullwidthonecol{
	width:100%;
}

#slider_container{
	position: relative;
	margin-top: 14px;
	margin-bottom: 4px;
	width:100%;
}

#slider_container.multiple{
	margin-top: 4px;
}
/*== Estructura ==*/

/*==== Texto ====*/
h1,h2{
	text-transform: uppercase;
	color: var(--textcolor1);
	text-align: center;
	margin-top: 0
}

h1{
	padding: 15px 0;
	font-size: 30px;
	font-weight: bold;
}
h2{
	padding: 15px 0 0;
	font-size: 20px;
	font-weight: normal;
}

h3{
	font-weight: bold;
	color: var(--textcolor3);
	font-size: 22px;
	margin: 10px;
	padding: 0;
	text-align: center
}

h4{
	font-weight: bold;
	color: var(--textcolor3);
	font-size: 18px;
	margin: 0;
	padding: 0;
	text-align: left
}

h1.informacion{
	border-bottom: var(--textcolor2) solid 2px;
}
h1.informacion, h2.informacion{
	color: var(--textcolor2);
}

h2.informacion{
	text-transform:none;
	padding: 0 20px;
	text-align: justify;
	width: 900px;
	margin: 0 auto;
}
/*== Texto ==*/


/*==== Informacion ====*/
#ocultar{
	display: block;
}
#informacion{
	display: none;
	box-sizing: border-box;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin: 0;
}
/*== Informacion ==*/

/*==== Output ====*/
.hrseparador{
	border-top: 1px solid var(--separadorcolor);
	border-bottom: 1px solid var(--separadorcolor);
	border-left: none;
	border-right: none;
	margin: 20px 0;
}

.output, #showslidervalue{
	color: var(--textcolor3);
	font-size: 18px;
}

#output_text, #showslidervalue{
	font-weight: normal;
	margin-bottom: 20px;
	padding: 6px;
	line-height: 24px;
	text-align: left;
}
#showslidervalue{
	margin-bottom: 0;
	width:30px;
}

#Output_IV_3{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 10px auto;
}
/*== Output ==*/


/*==== Formulario ====*/
select{
	z-index: 1;
	position: relative;
	font-weight: bold;
	background-color: var(--selectvalue);
	float: left;
	-webkit-appearance:none;
	-moz-appearance: none;
	border: none;
	height: 38px;
	padding: 8px 10px 8px 40px;
	box-sizing: border-box;
	box-shadow: none;
	outline: 0;
	color: var(--textcolor3);
	font-size: 14px;
	margin: 0;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-left: -24px;
}

select:focus{
	background-color: var(--selectvalue_focus)
}

select.frase{
	width: 108px
}

select.informacion{
	background-color: var(--selectvalue_informacion);
}

select.mini{
	font-size: 13px;
}

#select_block{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	height: auto;
	width: 100%;
	position: relative;
	margin: 5px auto;
}

#select_text{
	z-index: 2;
	position: relative;
	font-weight: bold;
	box-sizing: border-box;
	float: left;
	padding: 11px 30px 0 30px;
	height: 38px;
	background-image: linear-gradient(90deg, var(--gradient1_color1), var(--gradient1_color2));
	background-color: var(--gradient1_color1);
	color: var(--gradient1_textcolor);
	border-radius: 30px;
	text-align: center;
}

#select_text.frase{
	width: 150px;
}

#select_text.mini{
	padding: 12px 18px 0 18px;
	font-size: 13px;
}

input, textarea{
	-webkit-appearance: none;
	text-transform: capitalize;
	background-color: var(--inputtextarea_backgroundcolor);
	min-width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	outline: 0;
	-webkit-user-select: text;
	box-shadow: none;
	margin: 5px 0 10px;
	padding: 6px 8px;
	font-size: 14px;
	color: var(--inputtextarea_textcolor);
	border: var(--inputtextarea_border);
	border-radius: 15px
}

textarea{
	height: 104px;
	max-height: 104px;
	min-height: 104px
}

input:focus, textarea:focus{
	border-color: var(--inputtextarea_bordercolor_focus);
	background-color: var(--inputtextarea_backgroundcolor_focus)
}

button{
	display: -webkit-box;
  display: -moz-box;
	border: none;
	width: 200px;
	position: relative;
	margin: 10px auto;
	border-radius: 30px;
	padding: 18px 20px;
	font-size: 16px;
	background-image: linear-gradient(90deg, var(--gradient1_color1), var(--gradient1_color2));
	background-color: var(--gradient1_color1);
	font-weight: bold;
	color: var(--gradient1_textcolor);
	text-align: center;
}

button.mini{
	width: 150px;
	margin: 5px auto;
	padding: 9px 10px;
	font-size: 13px;
}

button:focus{
	outline: 0;
}

button:hover{
	color: var(--button_textcolor_hover);
	background-image: linear-gradient(90deg, var(--gradient1_color1_hover), var(--gradient1_color2_hover));
	background-color: var(--gradient1_color1_hover);
}

button#button_info{
	z-index: 10;
	background-color: var(--button_info_backgroundcolor);
	background-image: none;
	border-radius: 100px;
	box-sizing: border-box;
	border: var(--button_info_border);
	box-shadow: var(--button_info_shadow);
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: var(--textcolor2);

}
button#button_info:hover{
	background-color: var(--button_info_backgroundcolor_hover);
	border: var(--button_info_border_hover);
	box-shadow: var(--button_info_shadow_hover);
}

button#button_info label{
	display: block;
	position: absolute;
	box-sizing: border-box;
	padding: 0px;
	top: 0px;
	left: 0
}
button#button_info.info{
	bottom: 20px;
	right: 20px;
	position: fixed;
	width: 50px;
	height: 50px;
}

button#button_info.info label{
	width: 46px;
	height: 46px;
	-webkit-mask: url(info.png) top left / cover;
	mask: url(info.png) top left / cover;
	background-color: var(--button_info_letter_color);
	background-size: 46px 46px;
}


button#button_info.close{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -20px
}

button#button_info.close label{
	width: 36px;
	height: 36px;
	-webkit-mask: url(close.png) top left / cover;
	mask: url(close.png) top left / cover;
	background-color: var(--button_info_letter_color);
	background-size: 36px 36px;
}

input[type=checkbox]{
	visibility: hidden;
	&:checked + label:after {
		opacity: 1;
	}
}

.checkbox{
	float: left;
	width: 30px;
	height: 30px;
	background: none;
	border: var(--checkbox_border);
	box-sizing: border-box;
	margin: 5px 0px;
	border-radius: 100px;
	position: relative;
}

.checkbox label{
	display: block;
	width: 26px;
	height: 21px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: transparent;
}

.checkbox input[type=checkbox]:checked + label{
	-webkit-mask: url(check.png) top left / cover;
	mask: url(check.png) top left / cover;
	background-color: var(--checkbox_label_color);
	background-size: 26px 26px;
	top: 0px;
	left: 0px;
	width: 26px;
	height: 21px;
}

#checkbox_text{
	font-weight: normal;
	color: var(--textcolor3);
	float: left;
	position: relative;
	line-height: 40px;
	padding: 0 10px
}

#checkbox_element{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	position: relative;
	line-height: 40px;
	margin: 0 auto;
}

@supports (--css: variables) {
	input[type="range"].multirange {
		padding: 0;
		margin: 0px 0;
		display: block;
		height: 10px;
		border: none;
		border-radius: none;
		background-image: linear-gradient(90deg, var(--gradient1_color1), var(--gradient1_color2));
	}
	input[type="range"].single_high.multirange {
		top:0px;
	}

	input[type="range"].multirange.original {
		position: relative;
		border: none;
		background: none;
		bottom:-10px;
	}

		input[type="range"].multirange.original::-webkit-slider-thumb,input[type="range"]::-webkit-slider-thumb {
			position: relative;
			z-index: 2;
			-webkit-appearance: none;
    	border: none;
    	height: 22px;
    	width: 22px;
    	border-radius: 50%;
			background-color: var(--input_range_thumb_backgroundcolor);
			border: var(--input_range_thumb_border);
			box-shadow: var(--input_range_thumb_shadow);
		}

		input[type="range"].single_high.multirange.original::-webkit-slider-thumb,input[type="range"].single_low.multirange.ghost::-webkit-slider-thumb {
			display: none;
		}

		input[type="range"].multirange.original::-moz-range-thumb {
			transform: scale(1); /* FF doesn't apply position it seems */
			z-index: 1;
		}

		input[type="range"].single_high.multirange.original::-moz-range-thumb,input[type="range"].single_low.multirange.ghost::-moz-range-thumb {
			display: none;
		}

		input[type="range"].multirange::-moz-range-track {
			border-color: transparent; /* needed to switch FF to "styleable" control */
		}

	input[type="range"].multirange.ghost {
		position: relative;
	}

}


/*== Formulario ==*/

/*==== Tabla ====*/
table{
	border-collapse: collapse;
	margin: 0 auto 10px;
}

th.informacion{
	color: var(--textcolor2)!important;
	border-right: 2px solid var(--textcolor2);
}

td.informacion{
	color: var(--table_td_informacion_textcolor)!important
}

th{
  border-right: 2px solid var(--separadorcolor);
	padding: 2px 5px 6px;
  border-collapse: collapse;
	color: var(--textcolor3);
}

td{
	text-align: center;
	text-transform: uppercase;
	color: var(--table_td_textcolor);
	padding: 0px;
	position: relative;
	border-collapse: collapse;
	padding: 0 5px;
}

th:last-child,th#ultimo{
	border-right: none;
}
/*== Tabla ==*/

/*==== Media ====*/
@media (min-width: 920px){
	/*==== Estructura ====*/
	#cuerpo.cuerpo_fullwidthtwocol{
		width: 900px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	/*== Estructura ==*/

}

@media (max-width: 920px){
	/*==== Estructura ====*/
	#cuerpo.cuerpo_fullwidthonecol{
		width:440px;
	}
	/*== Estructura ==*/
}

@media (max-width: 610px){
	/*==== Estructura ====*/
	#estructura{
		margin-bottom: 30px
	}
	/*== Estructura ==*/

	/*==== Formulario ====*/
	button#button_info.info{
		position: relative;
		float: right;
	}
	/*== Formulario ==*/
}

@media (max-width: 420px){

	/*==== Estructura ====*/
	#cuerpo {
		margin: 10px 0;
		padding: 10px 5px;
		border-radius: 0
	}
	/*== Estructura ==*/

	/*==== Texto ====*/
	h2 {
		font-size: 17px;
	}

	/*== Texto ==*/

	/*==== Tabla ====*/
	th,td{
		font-size: 15px;
		padding: 4px 2px;
	}
	/*== Tabla ==*/
}

@media (max-width: 320px){
	/*==== Tabla ====*/
	th,td{
		font-size: 14px;
	}
	/*== Tabla ==*/
}

@media (max-width: 940px){
	h2.informacion{
		width: auto
	}

}

@media only screen and (device-width : 375px) and (width : 812px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
	button#button_info.info{
		right: env(safe-area-inset-right);
	}
}
/*== Media ==*/
