/*==== Basico ====*/
body{
	width: 100%;
	min-height: 100%;
	height: 100%;
	margin: 0;
	font-family: "Helvetica";
	font-size: 16px;
	backgro2und: url("background.jpeg") no-repeat fixed;
	-webkit-touch-callout: none;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#bg {
    position: fixed;
    display: block;
		background-image: url('background.jpeg');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}

a{
	text-decoration: none;
}

*{
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

input:focus::-webkit-contacts-auto-fill-button{
	visibility: hidden;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    visibility: hidden;
}
/*== Basico ==*/

/*==== Titulo ====*/
#titulo{
	position: relative;
	width: 300px;
	margin: 20px auto 5px;
}

#titulo img, #titulo.imagen{
	width: 200px;
	height: 85px;
}
/*== Titulo ==*/

/*==== Menu ====*/
#menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	position: relative;
	box-sizing: border-box;
	width: 420px;
	min-height: 48px;
	max-height: 48px;
	margin: 0 auto;
	line-height: 25px;

}

#menu a{
	flo2at: left;
	border-bottom: rgba(0,0,0,0) solid 2px;
	width: 50%;
	box-sizing: border-box;
	padding: 0 10px;
	min-height: 50px;
	max-height: 55px;
	margin: 0;
}

#menu a.seleccionado,#menu a:hover{
	border-bottom: #44696c solid 2px;
}
/*== Menu ==*/

/*==== Estructura ====*/
#estructura{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 10px auto;
}

#estructura.calcularpc{
	max-width: 920px;}

#estructura_nivel{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

#cuerpo{
	overflow: hidden;
	box-sizing: border-box;
	background-color: #fafafa;
	position: relative;
	box-shadow: 0 0 4px 0px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin: 10px;
	padding: 10px 20px;
	float: left;
	width: 440px;
}

#cuerpo.calcularpc_pokemon{
	width:100%;
}

#nivel_container{
	position: relative;
	margin-top: 14px;
	width:100%;
}

#nivel_container.multiple{
	margin-top: 4px;
}
/*== Estructura ==*/

/*==== Texto ====*/
h1,h2{
	text-transform: uppercase;
	color: #44696c;
	text-align: center;
	margin-top: 0
}

h1{
	padding: 15px 0;
	font-size: 30px;
	font-weight: bold;
}
h2{
	padding: 15px 0 0;
	font-size: 20px;
	font-weight: normal;
}

h3{
	font-weight: bold;
	color: #44696c;
	font-size: 22px;
	margin: 10px;
	padding: 0;
	text-align: center
}

h4{
	font-weight: bold;
	color: #44696c;
	font-size: 18px;
	margin: 0;
	padding: 0;
	text-align: left
}

h1.informacion{
	border-bottom: #68f0ce solid 2px;
}
h1.informacion, h2.informacion{
	color: #68f0ce;
}

h2.informacion{
	text-transform:none;
	padding: 0 20px;
	text-align: justify;
	width: 900px;
	margin: 0 auto;
}
/*== Texto ==*/


/*==== Informacion ====*/
#ocultar{
	display: block;
}
#informacion{
	display: none;
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin: 0;
}
/*== Informacion ==*/

/*==== Output ====*/
.hrseparador{
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-left: none;
	border-right: none;
	margin: 20px 0;
}

.output, #showlevel{
	color: #44696c;
	font-size: 18px;
}

#output_text, #showlevel{
	font-weight: normal;
	margin-bottom: 20px;
	padding: 6px;
	line-height: 24px;
	text-align: left;
}
#showlevel{
	margin-bottom: 0;
	width:30px;
}

#Output_IV_3{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 10px auto;
}
/*== Output ==*/


/*==== Formulario ====*/
select{
	z-index: 1;
	position: relative;
	font-weight: bold;
	background-color: #e8f0e1;
	float: left;
	-webkit-appearance:none;
	-moz-appearance: none;
	border: none;
	height: 38px;
	padding: 8px 10px 8px 40px;
	box-sizing: border-box;
	box-shadow: none;
	outline: 0;
	color: #44696c;
	align: center;
	font-size: 14px;
	margin: 0;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-left: -24px;
}

select:focus{
	background-color: #d5e9f0
}

select.frase{
	width: 108px
}

select.informacion{
	background-color: #aff1e0;
}

#select_block{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	height: auto;
	width: 100%;
	position: relative;
	margin: 5px auto;
}

#select_text{
	z-index: 2;
	position: relative;
	font-weight: bold;
	box-sizing: border-box;
	float: left;
	padding: 11px 30px 0 30px;
	height: 38px;
	background-image: linear-gradient(90deg, #a2db95, #24ccaa);
	background-color: #a2db95;
	color: #e4ffde;
	border-radius: 30px;
	text-align: center;
}

#select_text.frase{
	width: 150px;
}

input, textarea{
	-webkit-appearance: none;
	text-transform: capitalize;
	background-color: #fff;
	min-width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	outline: 0;
	-webkit-user-select: text;
	box-shadow: none;
	margin: 5px 0 10px;
	padding: 6px 8px;
	font-size: 14px;
	color: #48c597;
	background-color: #fff;
	border: #19d1d1 solid 2px;
	border-radius: 15px
}

textarea{
	height: 104px;
	max-height: 104px;
	min-height: 104px
}

input:focus, textarea:focus{
	border-color: #18c9c9;
	background-color: #f5f5f5
}

button{
	display: -webkit-box;
  display: -moz-box;
	border: none;
	width: 200px;
	position: relative;
	margin: 10px auto;
	border-radius: 30px;
	padding: 18px 20px;
	font-size: 16px;
	background-image: linear-gradient(90deg, #a2db95, #24ccaa);
	background-color: #a2db95;
	font-weight: bold;
	color: #e4ffde;
	text-align: center;
}

button:focus{
	outline: 0;
}

button:hover{
	color: #fff;
	background-image: linear-gradient(90deg, #5fa89a, #209dad);
	background-color: #5fa89a;
}

button#button_info{
	z-index: 10;
	background-color: #1c8796;
	background-image: none;
	border-radius: 100px;
	box-sizing: border-box;
	border: #68f0ce solid 2px;
	box-shadow: 0 0 0 5px #1c8796,0 0 0 8px rgba(180,180,180,0.6);
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #68f0ce;

}
button#button_info:hover{
	background-color: #166a76;
	border: #82c582 solid 2px;
	box-shadow: 0 0 0 5px #166a76,0 0 0 8px rgba(180,180,180,0.6);
}

button#button_info label{
	background-color: red;
	display: block;
	position: absolute;
	box-sizing: border-box;
	padding: 0px;
	top: 0px;
	left: 0
}
button#button_info.info{
	bottom: 20px;
	right: 20px;
	position: fixed;
	width: 50px;
	height: 50px;
}

button#button_info.info label{
	width: 46px;
	height: 46px;
	background: url("info.png");
	background-size: 46px 46px;
}


button#button_info.close{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	left: 50%;
	margin-left: -20px
}

button#button_info.close label{
	width: 36px;
	height: 36px;
	background: url("close.png");
	background-size: 36px 36px;
}

input[type=checkbox]{
	visibility: hidden;
	&:checked + label:after {
		opacity: 1;
	}
}

.checkbox{
	float: left;
	width: 30px;
	height: 30px;
	background: none;
	border: #19d1d1 solid 2px;
	box-sizing: border-box;
	margin: 5px 0px;
	border-radius: 100px;
	position: relative;
}

.checkbox label{
	display: block;
	width: 26px;
	height: 21px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: transparent;
}

.checkbox input[type=checkbox]:checked + label{
	background: url("check.png");
	background-size: 26px 26px;
	top: 0px;
	left: 0px;
	width: 26px;
	height: 21px;
}

#checkbox_text{
	font-weight: normal;
	color: #44696c;
	float: left;
	position: relative;
	line-height: 40px;
	padding: 0 10px
}

#checkbox_element{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	position: relative;
	line-height: 40px;
	margin: 0 auto;
}

@supports (--css: variables) {
	input[type="range"].multirange {
		padding: 0;
		margin: 0px 0;
		display: block;
		vertical-align: top;
		height: 10px;
		border: none;
		border-radius: none;
		background-image: linear-gradient(90deg, #a2db95, #24ccaa);
	}
	input[type="range"].single.multirange {
		top:0px;
	}

	input[type="range"].multirange.original {
		position: relative;
		border: none;
		background: none;
		bottom:-10px;
	}

	input[type="range"].single.multirange.original {
		display: none;
	}

		input[type="range"].multirange.original::-webkit-slider-thumb,input[type="range"]::-webkit-slider-thumb {
			position: relative;
			z-index: 2;
			-webkit-appearance: none;
    	border: none;
    	height: 22px;
    	width: 22px;
    	border-radius: 50%;
			background-color: #166a76;
			border: #82c582 solid 2px;
			box-shadow: 0 0 0 2px #166a76,0 0 0 4px rgba(180,180,180,0.6);
		}

		input[type="range"].single.multirange.original::-webkit-slider-thumb {
			display: none;
		}

		input[type="range"].multirange.original::-moz-range-thumb {
			transform: scale(1); /* FF doesn't apply position it seems */
			z-index: 1;
		}

		input[type="range"].single.multirange.original::-moz-range-thumb {
			display: none;
		}

		input[type="range"].multirange::-moz-range-track {
			border-color: transparent; /* needed to switch FF to "styleable" control */
		}

	input[type="range"].multirange.ghost {
		position: relative;
	}

}


/*== Formulario ==*/

/*==== Tabla ====*/
table{
	border-collapse: collapse;
	margin: 0 auto 10px;
}

th.informacion{
	color: #68f0ce!important;
	border-right: 2px solid #68f0ce;
}

td.informacion{
	color: #b5f3e4!important
}

th{
  border-right: 2px solid #e1e1e1;
	padding: 2px 5px 6px;
  border-collapse: collapse;
	color: #44696c;
}

td{
	text-align: center;
	text-transform: uppercase;
	color: #95aaab;
	padding: 0px;
	position: relative;
	border-collapse: collapse;
	padding: 0 5px;
}

th:last-child,th#ultimo{
	border-right: none;
}
/*== Tabla ==*/

/*==== Media ====*/
@media (min-width: 920px){
	/*==== Estructura ====*/
	#cuerpo.calculariv{
		width: 900px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}
	/*== Estructura ==*/

}

@media (max-width: 920px){
	/*==== Estructura ====*/
	#cuerpo.calcularpc_pokemon{
		width:440px;
	}
	/*== Estructura ==*/
}

@media (max-width: 610px){
	/*==== Estructura ====*/
	#estructura{
		margin-bottom: 30px
	}
	/*== Estructura ==*/

	/*==== Formulario ====*/
	button#button_info.info{
		position: relative;
		float: right;
	}
	/*== Formulario ==*/
}

@media (max-width: 420px){
	/*==== Menu ====*/
	#menu{
		width: 100%;
		max-height: 50px;
		max-height: 60px;
	}
	#menu a{
		max-height: 67px;
	}
	/*== Menu ==*/

	/*==== Texto ====*/
	h2 {
		font-size: 17px;
	}

	/*== Texto ==*/
}

@media (max-width: 940px){
	h2.informacion{
		width: auto
	}

}
/*== Media ==*/
